/* body {
  background-image: url('https://www.gannett-cdn.com/presto/2022/05/18/NTEG/19d065e0-9cdb-4585-83c5-4f058a904c8b-LOC_Hanover_Roche_3.jpg?width=1320&height=884&fit=crop&format=pjpg&auto=webp');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .form-container {
  justify-self: center;
} */

body {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
}

.main {
  background: linear-gradient(135deg, #9abce0 0%, #ffffff 48%);
  height: 100vh;
}

div#root {
  background: linear-gradient(135deg, #9abce0 0%, #ffffff 48%);

}
