.css-zanzjh-MuiPaper-root-MuiAppBar-root {
    position: relative;
}

form {
    margin: 0 !important;
}

.search-container{
    align-self: center;
}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
    background-color: white !important;
}

.css-1lri64z-MuiPaper-root-MuiAppBar-root {
    --AppBar-background: white !important;
}